*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: yellowgreen;
}
.container {
    text-align: center;
    margin-top: 100px;
    border-color: 1px solid black;
  }
.container{
    border: 1px solid black;
    width: 400px;
    height: 200px;
    border-style: dashed;
    border-radius: 100px;

}
  .stopwatch {
    font-size: 48px;
    margin-bottom: 30px;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    margin: 0 5px;
  }
  #heading{
    color: green;
  }